
<h1><%= "#{@contacts.first_name}" + " " + "#{@contacts.last_name} "%></h1>
<h2> <%=@contacts.middle_name %></h2>
<h2><%= @contacts.last_name %></h2>
<h2><%= @contacts.bio %></h2>
<h3><%= @contacts.phone_number %></h3>
<h3><%= @contacts.email %></h3>

   